h2 Add a new opportunity
label(for='NameFirst') First Name: 
input(ng-model='form.NameFirst', name='NameFirst')
p UtilityAccountNumber:
textarea(ng-model='form.UtilityAccountNumber', cols='15', rows='5')
p
  button(ng-click='submitEvent()') Submit Opportunity