h2 Edit Event
label(for='NameFirst') First Name:
input(ng-model='form.NameFirst', name='NameFirst')
p Utility Account Number:
textarea(ng-model='form.UtilityAccountNumber', cols='20', rows='5')
p
button(ng-click='editEvent()') Edit Event