
<p> There are {{Events.length}} opportunities </p>
<table>
<th>First Name
<th>Utility Account Number</th>
<th>Customer ID</th>
<th>Account ID</th>
<tbody ng-repeat='Event in Events'>
<tr>
<td>{{Event.NameFirst}}</td>
<td>
{{Event.UtilityAccountNumber}}</td>
<td>
{{Event.CustomerID}}</td>  
<td>
{{Event.AccountID}}</td> 
<td>
a(href='/editEvent/{{Event._id}}') Edit</td> 
<td>
a(href='/deleteEvent/{{Event._id}}') Remove</td>
</tbody>
</table>

