

<form >
    <table>
       <tr>
           <td>
               Account ID :
           </td>
           <td>
               <input type="text" ng-model="AccountID" ng-model-instant>
           </td>
       </tr>
        <tr>
            <td>
                First Name  :
            </td>
            <td>
                <input type="text" ng-model="FirstName">
            </td>
        </tr>
        <tr>
            <td>
                Last Name  :
            </td>
            <td>
                <input type="text" ng-model="LastName">
            </td>
        </tr>
        <tr>
            <td>
                State  :
            </td>
            <td>
                <input type="text" ng-model="ServiceState">
            </td>
        </tr>
        <tr>
            <td>
                Phone  :
            </td>
            <td>
                <input type="text" ng-model="ServicePhone">
            </td>
        </tr>
        <tr>
            <td>
                Commodity  :
            </td>
            <td>
                <input type="text" ng-model="Commodity">
            </td>
        </tr>
        <tr>
            <td>
                Premise Type  :
            </td>
            <td>
                <input type="text" ng-model="PremiseType">
            </td>
        </tr>
        <tr>
            <td>
                Service Date  :
            </td>
            <td>
                <input type="text" ng-model="ServiceStartDate">
            </td>
        </tr>
        <tr>
            <td>
                Utility Account Number  :
            </td>
            <td>
                <input type="text" ng-model="UtilityAccountNumber">
            </td>
        </tr>

        <tr>
            <td>
                Assigned To  :
            </td>
            <td>
                <input type="text" ng-model="AssignedToEmployeeNameFirst">
            </td>
        </tr>
        <tr>
            <td>
                Service Date  :
            </td>
            <td>
                <input type="text" ng-model="ServiceStartDate">
            </td>
        </tr>
        <tr>
            <td>
                Annual kWh  :
            </td>
            <td>
                <input type="text" ng-model="AnnualConsumption">
            </td>
        </tr>
        <tr>
            <td>
                Status  :
            </td>
            <td>
                <input type="text" ng-model="AccountStatus">
            </td>
        </tr>
        <tr>
            <td>
                Status Date  :
            </td>
            <td>
                <input type="text" ng-model="DropStatusDate">
            </td>
        </tr>
        <tr>
            <td>
                Contact Status  :
            </td>
            <td>
                <input type="text" ng-model="DropStatus">
            </td>
        </tr>
        <tr>
            <td>
                Contact Status Date  :
            </td>
            <td>
                <input type="text" ng-model="DropStatusDate">
            </td>
        </tr>


    </table>

</form>

<button ng-click="onSubmit()"> Add </button>