

{{event}}
<form >
    <table>
       <tr>
           <td>
               AccountID :
           </td>
           <td>
               <input type="text" ng-model=AccountID ng-model-instant>
           </td>
       </tr>
        <tr>
            <td>
                FirstName  : :
            </td>
            <td>
                <input type="text" ng-model=event.FirstName>
            </td>
        </tr>
        <tr>
            <td>
                LastName  :
            </td>
            <td>
                <input type="text" ng-model="LastName">
            </td>
        </tr>
        <tr>
            <td>
                ServiceState  :
            </td>
            <td>
                <input type="text" ng-model="ServiceState">
            </td>
        </tr>
        <tr>
            <td>
                ServicePhone  :
            </td>
            <td>
                <input type="text" ng-model="ServicePhone">
            </td>
        </tr>
        <tr>
            <td>
                Commodity  :
            </td>
            <td>
                <input type="text" ng-model="Commodity">
            </td>
        </tr>
        <tr>
            <td>
                PremiseType  :
            </td>
            <td>
                <input type="text" ng-model="PremiseType">
            </td>
        </tr>
        <tr>
            <td>
                ServiceStartDate  :
            </td>
            <td>
                <input type="text" ng-model="ServiceStartDate">
            </td>
        </tr>
        <tr>
            <td>
                UtilityAccountNumber  :
            </td>
            <td>
                <input type="text" ng-model="UtilityAccountNumber">
            </td>
        </tr>

    </table>

</form>

<button ng-click="onSubmit()"> Add </button>