    Edit Event page

<div ng-controller="EditEventCtrl">


    <form >
        <table>
            <tr>
                <td>
                    Account ID :
                </td>
                <td>
                    <input type="text" ng-model="event.AccountID" ng-model-instant>
                </td>
            </tr>
            <tr>
                <td>
                    First Name  :
                </td>
                <td>
                    <input type="text" ng-model="event.FirstName">
                </td>
            </tr>
            <tr>
                <td>
                    Last Name  :
                </td>
                <td>
                    <input type="text" ng-model="event.LastName">
                </td>
            </tr>
            <tr>
                <td>
                    State  :
                </td>
                <td>
                    <input type="text" ng-model="event.ServiceState">
                </td>
            </tr>
            <tr>
                <td>
                    Phone  :
                </td>
                <td>
                    <input type="text" ng-model="event.ServicePhone">
                </td>
            </tr>
            <tr>
                <td>
                    Commodity  :
                </td>
                <td>
                    <input type="text" ng-model="event.Commodity">
                </td>
            </tr>
            <tr>
                <td>
                    Premise Type  :
                </td>
                <td>
                    <input type="text" ng-model="event.PremiseType">
                </td>
            </tr>
            <tr>
                <td>
                    Service Date  :
                </td>
                <td>
                    <input type="text" ng-model="event.ServiceStartDate">
                </td>
            </tr>
            <tr>
                <td>
                    Utility Account Number  :
                </td>
                <td>
                    <input type="text" ng-model="event.UtilityAccountNumber">
                </td>
            </tr>

            <tr>
                <td>
                    Assigned To  :
                </td>
                <td>
                    <input type="text" ng-model="event.AssignedToEmployeeNameFirst">
                </td>
            </tr>
            <tr>
                <td>
                    Service Date  :
                </td>
                <td>
                    <input type="text" ng-model="event.ServiceStartDate">
                </td>
            </tr>
            <tr>
                <td>
                    Annual kWh  :
                </td>
                <td>
                    <input type="text" ng-model="event.AnnualConsumption">
                </td>
            </tr>
            <tr>
                <td>
                    Status  :
                </td>
                <td>
                    <input type="text" ng-model="event.AccountStatus">
                </td>
            </tr>
            <tr>
                <td>
                    Status Date  :
                </td>
                <td>
                    <input type="text" ng-model="event.DropStatusDate">
                </td>
            </tr>
            <tr>
                <td>
                    Contact Status  :
                </td>
                <td>
                    <input type="text" ng-model="event.DropStatus">
                </td>
            </tr>
            <tr>
                <td>
                    Contact Status Date  :
                </td>
                <td>
                    <input type="text" ng-model="event.DropStatusDate">
                </td>
            </tr>


        </table>

    </form>

    <button ng-click="onSubmit()"> Submit </button>

</div>